<div class="mb-4 d-flex align-items-center justify-content-center py-5">
  <div class="text-center text-white">
    <h3>Edit a booking for <%= @booking.furnishing.title %></h3>
  </div>
</div>

<div class="container py-2 mb-5">
  <div class="offset-sm-3 col-sm-6">
    <%= simple_form_for @booking do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.submit %>
    <% end %>
    <br>
    <div>
      <%= link_to "Go back", furnishings_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
