<div class="container">
  <h1> Your Dashboard</h1>

  <div class="your-furnishing">
    <h3> Your furnishings </h3>
    <div class="furnishing-section">
      <% @furnishings.each do |furnishing| %>
        <p>
          <%= link_to furnishing.title, furnishing_path(furnishing) %>
        </p>
        <li>
          <%= furnishing.description %>
        </li>
        <li>
          <%= furnishing.price %>
        </li>
        <li>
          <%= furnishing.location %>
        </li>
        <li>
          <%= furnishing.furnishing_type %>
        </li>
        <%= link_to "Edit" , edit_furnishing_path %>
          <%= link_to "Delete" , user_path(@user), method: :delete %>
            <% end %>
              <%= link_to "Add New" , new_furnishing_path %>
    </div>
  </div>

  <div class="your-booking">
    <h3> Your bookings </h3>
    <div class="booking-section">
      <% @bookings.each do |booking| %>
        <h2>
          <%= booking.furnishing.title %>
        </h2>
        <li>
          <%= booking.start_date %>
        </li>
        <li>
          <%= booking.end_date %>
        </li>
        <% end %>
    </div>
  </div>
  <%= link_to "Back to the index page" , furnishings_path %>
</div>