<h1>  Your Dashboard</h1>

<div>
  <h3>  Your furnishings </h3>
  <div>
    <% @furnishings.each do |f| %>
    <p> <%= link_to f.title, furnishing_path(f) %> </p>
      <li><%= f.description %></li>
      <li><%= f.price %></li>
      <li><%= f.location %></li>
      <li><%= f.furnishing_type %></li>
      <%= link_to "Edit", edit_furnishing_path %>
      <%= link_to "Delete", user_path(@user), method: :delete %>
    <% end %>
    <%= link_to "Add New", new_furnishing_path %>
  </div>
</div>

<div>
<h3> Your bookings </h3>
  <div>
    <% @bookings.each do |booking| %>
      <h2><%= booking.furnishing.title %></h2> 
      <li><%= booking.start_date %></li>
      <li><%= booking.end_date %></li>
    <% end %>
  </div>
</div>
<%= link_to "Back to the index page", furnishings_path %>
