<ul>
  <% @furnishings.each do |furnishing| %>
  <div>
    <li><h3><%= link_to furnishing.title, furnishing_path(furnishing) %></h3></li>
    <li><p>Description: <%= furnishing.description %></p></li>
    <li><p>Price: £<%= furnishing.price %></p></li>
    <li><p>Location: <%= furnishing.location %></p></li>
    <li><p>Type: <%= furnishing.furnishing_type %></p></li>
  </div>
  <% end %>
</ul>
