<ul>
  <% @furnishings.each do |furnishing| %>
  <div>
    <%= cl_image_tag furnishing.photo.key, height: 300, width: 400, crop: :fill %>
      <% if current_user %>
        <li><h3><%= link_to furnishing.title, furnishing_path(furnishing) %></h3></li>
      <% else %>
        <li><h3><%= link_to furnishing.title, new_user_session_path, data: { confirm: "log on to view" } %></h3></li>
      <% end %>
    <li><p>Description: <%= furnishing.description %></p></li>
    <li><p>Price: £<%= furnishing.price %></p></li>
    <li><p>Location: <%= furnishing.location %></p></li>
    <li><p>Type: <%= furnishing.furnishing_type %></p></li>
  </div>
  <% end %>
</ul>
