<h2>
  <%= @furnishing.title %>
</h2>
<p>
  <%= @furnishing.description %>
</p>
<p>
  <%= @furnishing.price %>
</p>
<p>
  <%= @furnishing.location %>
</p>
<p>
  <%= @furnishing.furnishing_type %>
</p>
<p>
  <%= cl_image_tag @furnishing.photo.key, height: 300, width: 400, crop: :fill %>
</p>
<%= link_to "Back to the index page" , furnishings_path %>
  <br>
  <% if current_user %>
    <%= link_to "Book me" , new_furnishing_booking_path(@furnishing) %>
      <% else %>
        <%= link_to "Please log in to book" , new_user_session_path %>
          <% end %>
