<div class= "container">
  <div class="card-big">
    <h2><%= @furnishing.title %></h2>
    <img src="#" />
    <div class="card-big-info">
      <div>
        <p><strong>Description: </strong><%= @furnishing.description %></p>
        <p><strong>Price: </strong>£<%= @furnishing.price %></p>
        <div class= "location">
          <p><i class="fas fa-map-marker-alt"></i></p>
          <p class="loc-word"><%= @furnishing.location %></p>
        </div>
      </div>
    </div>
    <div class= "buttons">
      <%= link_to "Back to all", furnishings_path, class: "card-btn" %>
      <% unless current_user == @furnishing.user %>
        <%= link_to "Book me" , new_furnishing_booking_path(@furnishing) %>
      <% end %>
    </div>
  </div>
</div>
